
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{if (eq action 'tweets') 'active'}}">
                        {{#link-to 'profile-view' user.userName 'tweets' class="nav-link" }}Tweets{{/link-to}}
                    </li>
                    <li class="nav-item {{if (eq action 'followers') 'active'}}">
                    
                    {{#link-to 'profile-view' user.userName 'followers' class="nav-link" }}Followers{{/link-to}}
                    </li>
                    <li class="nav-item {{if (eq action 'following') 'active'}}">
                        {{#link-to 'profile-view' user.userName 'following' class="nav-link" }}Following{{/link-to}}
                    </li>
                    </ul>
                
                </div>
        </nav>

        {{#if (eq action 'followers')}}
            {{#each user.followers as |follower| }}
                   <div class="user-list">
                      <div class="row  align-middle">
                            <div class="col-6 align-left">
                                <span class="name font-weight-bold">{{follower.name}}</span>
                                <span class="user_name">@{{follower.userName}}</span>
                            </div>
                            <div class="col">
                        
                                {{#if (array-contains user.followees follower.userName) }}
                                <button class="btn btn-info" {{action "unfollow" follower}}>Following</button> 
                                {{else if (not-eq user.userName follower.userName) }}
                                <button class="btn btn-primary" {{action "follow" follower}}>Follow</button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
    
            {{/each}}

     {{/if}}
     {{#if (eq action 'following')}}
            {{#each user.followees as |followee| }}
                   <div class="user-list">
                      <div class="row  align-middle">
                            <div class="col-6 align-left">
                                <span class="name font-weight-bold">{{followee.name}}</span>
                                <span class="user_name">@{{followee.userName}}</span>
                            </div>
                            <div class="col"> 
                               
                                {{#if (array-contains user.followees followee.userName) }}
                                <button class="btn btn-info" {{action "unfollow"  followee}}>Following</button> 
                                {{else if (not-eq user.userName followee.userName) }}
                                <button class="btn btn-primary" {{action "follow"  followee}}>Follow</button>
                                {{/if}}
                            </div>
                        </div>
               </div>

        {{/each}}
    {{/if}}

    {{#if (eq action 'tweets')}}
            {{#each feed.tweets as |tweet|}}
                {{tweet-body tweet=tweet}}
            {{/each}}
    {{/if}}
{{yield}}