<div  style="height:100vh;background-color: azure">
<div class="row">
    <div class="col-6" style="background-color:aqua" >

    </div>
    <div class="col-6">
        <form >
            <div class="row  mt-5">
              <div class="align-middle"><h1>Register</h1></div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><h6>Username</h6></div>
                <div vclass="col-3 ml-1">{{input value=user.userName class="form-control"}}</div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><h6>Name</h6></div>
                <div vclass="col-3 ml-1">{{input value=user.name class="form-control"}}</div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><h6>Date of Birth</h6></div>
                <div vclass="col-3 ml-1">{{input type="date" value=user.dateOfBirth class="form-control"}}</div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><h6>City</h6></div>
                <div vclass="col-3 ml-1">{{input value=user.city class="form-control"}}</div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><h6>State</h6></div>
                <div vclass="col-3 ml-1">{{input value=user.state class="form-control"}}</div>
            
            </div>
            <div class="row  mt-5">
                <div class="col-2 "><button class="btn btn-primary" type="submit" {{action "submit" user}}>Register</button></div>
                <div vclass="col-3 ml-1"></div>
            
            </div>
        </form>
    </div>

</div>
</div>