 <nav class="navbar navbar-dark bg-primary mb-2">
      {{#link-to 'feed' model.user.userName  class="navbar-brand"}}Home{{/link-to}}
</nav> 

<div class="row">
     <div class="col-2"></div>
        <div class="col-2 title_div">
            {{user-card user=model.user}}
        </div>


        <div class="col-4"> 
            <form class="form-inline my-4 my-lg-4">
                {{input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value=searchInput}}
                <button class="btn btn-success" type="submit" {{action "search" searchInput}} >Search</button>
            </form>
            
            {{#each model.users as |user| }}
                    <div class="user-list">
                        <div class="row  align-middle">
                            <div class="col-6 align-middle">
                                <span class="name font-weight-bold">{{user.name}}</span> 
                                <span class="user_name">@{{user.userName}}</span>
                                </div>
                                <div class="col"> 
                                    {{#if (array-contains model.user.followees user.userName) }}
                                    <button class="btn btn-info" {{action "unfollow" user}}>Following</button> 
                                    {{else if (not-eq model.user.userName user.userName) }}
                                    <button class="btn btn-primary" {{action "follow" user}}>Follow</button>
                                    {{/if}}
                                </div>
                            </div>
                </div>
            {{/each}}
        </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
</div>
